body{
    background-image: url("./images/backgroundImg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}
.container{
    border: 2px solid white;
    width: 50%;
    margin: 5% 25% 2%;
    height: 85vh;
}
h1{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
}
p{
    color: green;
    font-size: 8.5rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 8% 0%;
}
button{
    width: 12.5rem;
    height: 3rem;
    font-size: 1.25rem;
    background-color:rgb(0,65,106);
    color: #ffffff;
    position: relative;
    border: 0px;
    margin: 5px 36% 15px;
}
button:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
    font-size: 20px;
    width: 12.25rem;
}
.buttons{
    margin: 2rem 0px;
}

@media(max-width: 700px) {
    .container{
        border: 2px solid white;
        width: 80%;
        margin: 5% 10% 5%;
    }
    h1{
        font-size: 2.75rem;
    }
    p{
        font-size: 6.75rem;
    }
    button{
        width: 10.5rem;
        height: 3.25rem;
        font-size: 1.25rem;
        background-color:rgb(0,65,106);
        color: #ffffff;
        position: relative;
        border: 0px;
        margin: 5px 35% 15px;
    }
    button:hover{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
        width: 10.5rem;
    }
}